@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="~/Content/RemoteDesktop_ServerProxy.exe" class="btn btn-primary btn-lg">Download &raquo;</a></p>
</div>

<div class="row">
</div>