@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><a href="~/Content/RemoteDesktop_ServerProxy.exe" class="btn btn-primary btn-lg">Download Server &raquo;</a></p>
    <p><a href="~/Content/RemoteDesktop_Viewer.zip" class="btn btn-primary btn-lg">Download Viewer &raquo;</a></p>
    <p><a href="~/Content/NDP452-KB2901907-x86-x64-AllOS-ENU.exe" class="btn btn-primary btn-lg">Download .net 4.5.2 &raquo;</a></p>
</div>


<div class="row">
</div>