@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Remote Access Tool</h1>
    <p class="lead">RAT is a new tool to for accessing users' desktops</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            For users who require help, download this file and run to get started.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("GetGateway_File", "Support")">Download Client &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other Cool Features</h2>
        <p>something goes here . . . </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other Cool Features</h2>
        <p>something goes here . . . </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>